# dependencies
node_modules/

# build
dist/
web-build/
build/
.turbo/

# Expo
.expo/
expo-env.d.ts

# Native
/ios
/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env
.env*.local

# macOS
.DS_Store

# typescript
*.tsbuildinfo
